@font-face {
  font-family: 'League Spartan';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/LeagueSpartan-VF.woff') format("woff");
}

body {
  font-family: 'League Spartan', 'Futura', 'sans-serif';
  font-size: 1.625rem;
  line-height: 1.5;
  background: #fffefb;
}

main {
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 0.95;
}

h2 {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
}

.ps-6 {
  padding-left: 4.5rem!important;
}

.pe-6 {
  padding-right: 4.5rem!important;
}

.content-card {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
}

.link {
  color: #DCDCDC;
  text-decoration: none;
}

.link:hover {
  color: #8EC8D5;
}

.link--active {
  text-decoration: underline;
}

.gallery-navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 100%;
  left: -2rem;
  right: -2rem;
}

.gallery-navigation-button {
  display: flex;
  align-items: center;
  color: #B23929;
  cursor: pointer;
  height: calc(100% - 3.5rem);
}

.gallery-navigation-button--disabled {
  opacity: 0.5;
}

.modal-content {
  border-radius: 0;
  background-color: #fffefb;
}

.swiper-thumbs .swiper-slide {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 250ms ease-in;
}

.swiper-thumbs .swiper-slide:not(.swiper-slide-thumb-active):hover {
  opacity: 0.7;
}

.swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.gallery-image img {
  transition: transform 250ms ease-in, opacity .25s linear!important;
}

.gallery-image:hover img {
  transform: scale(1.15);
}

@media (orientation: landscape) {
  .header-video {
    object-fit: cover;
    aspect-ratio: 21 / 9
  }
}

@media (orientation: portrait) {
  .header-video {
    object-fit: cover;
    aspect-ratio: 7 / 9;
  }
}

@media (max-width: 575.98px) { 
  body  {
    font-size: 1.525rem;
    line-height: 1.4;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  .ps-6 {
    padding-left: 2rem!important;
  }

  .pe-6 {
    padding-right: 2rem!important;
  }

  .content-card {
    position: relative;
  }

  .map-wrapper {
    aspect-ratio: 1;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 75vw;
  }
}

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}